[Desktop Entry]
Name=Godot 4.7.1-stable
Exec=prime-run /home/pr/download/godot/Godot_v4.7.1-stable_linux.x86_64
Icon=/home/pr/download/godot/godot-icon_color.svg
Type=Application
Categories=Application;Productivity;
Terminal=false
